@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  color: white;
  font-weight: 600;
  cursor:url(./assets/Images/mouse-pointer.cur)4 12 auto;
  
}

@media (max-width: 320px) {
  body {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
  }
  ul li {
    list-style: ">  ";
    color: #fff9;
    font-size: 16px;
  }
}

.Sub-heading {
  font-size: 1em;
}

.Sub-heading::before {
  display: inline-flex;
  content: "";
  width: 3px;
  height: 25px;
  background-color: #c90014;
  margin-right: 10px;
  transform: translateY(5px);
}

body {
  scroll-behavior: smooth;
  /* background-color: rgb(20, 19, 16) !important; */
  /* background: linear-gradient(to right, #16222a, #3a6073); */
  margin: 0;
  text-rendering: optimizeLegibility;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  background-repeat: no-repeat;
  background-size: cover;
  
}

.content-font {
  font-size: 16px;
  text-align: left;
  opacity: 0.8;
  padding: 0;
  margin: 0;
}

.navbar-toggler-icon {
  background-color: rgb(204, 73, 30);
  border-radius: 5px;
}

.Content {
  /* background-color: rgb(20, 19, 16); */
  margin-block: 50px;
  background-color: transparent;

  /* background-image: url("./assets/Images/Back2.jpg");
  background-size: cover;
  background-attachment: fixed; */
  font-size: 20px;
}

.default-card {
  text-align: center;
  width: 100%;
  height: 180px !important;
  background-color: transparent !important;
  -webkit-box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px -2px rgba(0, 0, 0, 0.75);
  transition: 0.2s;

  overflow: hidden;
}

.default-card:hover .default-card-main-title {
  scale: 0.9;
}

.default-card:hover {
  -webkit-box-shadow: 7px 7px 2px -2px rgba(59, 59, 59, 1);
  -moz-box-shadow: 7px 7px 2px -2px rgba(59, 59, 59, 1);
  box-shadow: 7px 7px 2px -2px rgba(59, 59, 59, 1);
}

.default-card:nth-child(4) {
  height: 150px !important;
}

.default-card-main-title {
  color: white;
  font-weight: 700 !important;
  font-size: 25px;
  transition: all 0.2s;
  margin-top: 15px;
}

.default-card-sub-title {
  color: red;
  font-weight: 700 !important;
  font-size: 16px;

  background-color: rgba(0, 0, 0, 0.8);

  border: white 10 px solid !important;
  border-radius: 50px;
  padding: 10px;
  margin-top: -10px;
}

.default-card-extended {
  background-color: transparent !important;
  width: 100%;
  border: white 2px solid !important;padding-bottom: 20px;

}

.default-card-extended-main-title {
  color: white;
  font-weight: 700 !important;
  font-size: 25px;
  transition: all 0.2s;
  margin-top: 15px;
  text-align: left;
}

@media (max-width:424px){
 .default-card-extended-main-title{
  text-align: center !important;
 }
 .default-card-extended-sub-title{
  text-align: center;
 }
}

.default-card-extended-sub-title {
  color: red;
  font-weight: 700 !important;
  font-size: 16px;
  padding: 0;
  margin: 0;
  text-transform: capitalize !important;
  

 
  
}

.instructor-card::before{
  content: "";
  width: 100%;
}

.instructor-card::before:hover{
  scale: 1.2;
}


.mentor{
  width: 180px;
  height: 200px;
  object-fit: cover !important;
  object-position: top center !important;
  align-self: center !important;
  z-index: 99 !important;
  margin-left: 20px;
  margin-block: 20px;
  position:absolute;
  margin-top: 30px;
  
  
}

.mentor-container{
  position: relative;
  margin-block: 240px;
  cursor: pointer;
  
  
  
  

}
 .instructor-bg-1{
  position: absolute;
  border: #c90014 3px solid;
  height: 65px;
  width: 65px;
  top: 14px;
  left: 20px;
  z-index: 1!important;
  
 }
 .instructor-bg-2{
  position: absolute;
  border: #c90014 3px solid;
  height: 65px;
  width: 65px;
  top: 170px;
  left:  162px;
  z-index: 1!important;
  
 }

 .feature-heading{
  text-align: center;
  padding: 10px;
  border: white 1px solid;
  border-radius: 10px;
  background-color: #c90014;
  margin-bottom: 20px;
 }

.feature-item{
  text-align: left;
  font-size: 15px;
  margin-bottom: 10px;
}

.feature-item::before{
  content: "-- ";
  color: #c90014;
  font-weight: 700;
  
}


.audience {
  background-color: transparent;
  border: #c90014 2px solid;
  width: 100%;
  border-radius: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
  margin-block: 4px;
  padding-inline: 8px;
}

.Heading {
  font-size: 30px !important;
  font-weight: 700;
}

.offcanvas {
  background-color: #c90014 !important;
  text-align: left !important;
  width: 70% !important;
  padding-left: 10px;
}
a {
  text-decoration: none !important;
  color: white !important;
}

ul li::before {
  content: "--";
  color: #fff9;
  
}

li{
  list-style: none;
}

.Header-Nav {
  color: white !important;
  text-decoration: none !important;
  transition: 300ms all ease !important;
}

.Header-Nav:hover {
  scale: 1.2;
}

a.active {
  color: #f4e0b9 !important;
  border-bottom: 2px white solid !important;
}

.Consultant-Card-Body {
  text-align: center;
  color: white;
  overflow: hidden !important;
}

.card-text{
  margin-top: 15px;
}

.card-body{
  overflow: hidden !important;
}

.Consultant-Card-Btn {
  background-color: transparent !important;
  color:wheat !important;
  border: white 1px solid !important;
  font-size: 16px !important;
  font-weight: 800 !important;
  border-radius: 50px !important;
  margin-bottom: 15px;
  padding-inline: 25px !important;
}

.Consultant-Card-Btn:hover {
  background-color: rgb(68, 68, 68) !important ;
  color: white !important;

  transform: translate3d(40deg);
}

.Consultant-Card{
  overflow: hidden  !important;
}

.Consultant-Card:hover {
  transform: rotateX("150px") !important;
  cursor: pointer;
}

.card-img-top{
  overflow: hidden !important;
  transition: all 0.3s;
}

.card-img-top:hover{
  transform: scaleX(1.2);
}
.Default-Instructor-Card {
  width: 10px !important;
  display: flex !important;
  flex-direction: row !important;
  border-radius: 0px !important;
  border: none !important;
}

.Why-Choose-Us-Card {
  width: 100%;
  margin-top: 20px;
  background-color: transparent;
  padding: 0;
}

.Why-Choose-Us-Card-Body {
  background-color: transparent;
  font-size: 0.8rem;
  padding: 0px;
  margin: 0;
  text-align: center;
}
.Why-Choose-Us-Circle {
  width: 100%;
  position: relative;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border: #c90014 4px solid;
  border-radius: 50%;
}

.Why-Choose-Us-Circle-Content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Why-Choose-Us-Circle-Content-Icon {
  font-size: 100px;
}
.Why-Choose-Us-Title {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

@media only screen and (max-width: 425px) {
  .Why-Choose-Us-Circle-Content-Icon {
    font-size: 100px;
  }

  .Why-Choose-Us-Circle {
    width: 60%;
    position: relative;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: #c90014 4px solid;
    border-radius: 50%;
    margin: auto;
  }
}
